<h1>All Secrets</h1>


{{#each secrets as |secret|}}
  <h5>{{secret.content}}</h5>
  <p>{{secret.username}} on {{secret.createdAt}}</p>

      <p>Get username</p>
      <button type="submit">Accept</button>
      <button type="submit">Reject</button>

{{/each}}
