<h1 class ="text-center">Sequrets Home</h1>

<h2>New secret</h2>

<form method="post" action="/postSecret">
  <div class="form-group">
    <input type="textarea" name="content">
    <br>
    <br>
    <button type="submit">Submit</button>
  </div>
</form>

<h2>Your secrets</h2>


{{#each ownedSecrets as |ownedSecret|}}
  <h5>{{ownedSecret.content}}</h5>
  <p>{{ownedSecret.username}} on {{ownedSecret.createdAt}}</p>
    {{#each ownedSecret.userIdsReqAccess as |request|}}
      <p>Get username</p>
      <button type="submit">Accept</button>
      <button type="submit">Reject</button>
    {{/each}}
{{/each}}
{{!-- <ul>
      <ul>
        <h5>Request for this secret from user Joe</h5>
        <form>
          <button type="submit">Accept</button>
          <button type="submit">Reject</button>
        </form>
      </ul>
  </li>
  <li>
    <h5>I also wrote this secret!</h5>
    <h6>-{{username}}</h6>
  </li>
</ul> --}}

<h2>Shared secrets</h2>

<ul>
  <li>
    <h5>I am a shared secret!</h5>
    <h6>-User</h6>
  </li>
</ul>

<h2>All secrets</h2>
<a href="/secrets">Link to all secrets</a>
