<h1>This is the index page!</h1>

<h2>New secret</h2>

<form method="post" action="/postSecret">
  <h3>Secret</h3>
  <input type="textarea" name="content">
  <button type="submit">Submit</button>
</form>

<h2>Your secrets</h2>

<h2>Shared secrets</h2>
