<h1>SECRET PAGE</h1>

<form action="/secrets" method="POST">
  <div class="form-group">
    <label for="secret">Tell me a secret:</label>
    <input type="text" class="form-control" name="secret" id="secret">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>


<div>
  <h3> Your secrets </h3>
  <ul>
  {{#each secrets as |secret|}}
    <li>{{secret.secret}}</li>
{{!--     <li>{{secret.RequestPermission.pending}}</li> --}}
    <br>
  {{/each}}
  </ul>
</div>


<div>
  <h3> Shared Secrets </h3>
  <ul>
  {{#each secrets as |secret|}}
    <li>{{secret.secret}}</li>
  {{/each}}
  </ul>
</div>
