<h1>SECRET PAGE</h1>

<form action="/secret" method="POST">
  <div class="form-group">
    <label for="secret">Tell me a secret:</label>
    <input type="text" class="form-control" name="secret" id="secret">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>