<h1 class="text-center">Sequrets</h1>
<h3 class="text-center">(Because it's, like, secrets + sequelize? Get it? No..?)</h3>

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-xs-3 col-sm-offset-3">
      <h2><a href="/login" class="text-center pull-left">Log in</a></h2>
    </div>
    <div class="col-sm-3 col-xs-3">
      <h2><a href="/signup" class="text-center pull-right">Sign up</a></h2>
    </div>
  </div>
</div>
