<table class='table'>
  <thead>
    <tr>
      <th>
        Secret
      </th>
      <th>
        Author
      </th>
      <th>
        Permission
      </th>
      <th>
        Request Permission
      </th>
    </tr>
  </thead>
{{#each authSecrets as |secret|}}
  <tr>
    <td>
      secret.text
    </td>
    <td>
      secret.author
    </td>
    <td>
      Authorized
    </td>
    <td>
      <input type='submit' value="Request Permission"/>
    </td>
  </tr>
{{/each}}
{{#each unauthSecrets as |secret|}}
  <tr>
    <td>
      Unauthorized
    </td>
    <td>
      secret.author
    </td>
    <td>
      Unauthorized
    </td>
    <td>
      <input type='submit' value="Request Permission"/>
    </td>
  </tr>
{{/each}}
</table>
