<h1>All Secrets</h1>

<ul>
	{{#each secrets as |secret|}}
		<li>{{secret.secret}}
			{{#if !secret.pending}}
				{{#if !secret.accessible}}

				{{/if}}
			{{/if}}

			<div>
				<p>User: {{secret.author.username}}</p>
			</div>
			<button href='/'>
		</li>
	{{/each}}
</ul>
