<table class='table'>
  <thead>
    <th>
      Secret
    </th>
    <th>
      Author
    </th>
    <th>
      Permission
    </th>
    <th>
      Request Permission
    </th>
  </thead>
{{#each authSecrets as |secret|}}
  <td>
    secret.text
  </td>
  <td>
    secret.author
  </td>
  <td>
    Authorized
  </td>
  <td>
    <input type='submit' value="Request Permission"/>
  </td>
{{/each}}
{{#each unauthSecrets as |secret|}}
  <td>
    Unauthorized
  </td>
  <td>
    secret.author
  </td>
  <td>
    Unauthorized
  </td>
  <td>
    <input type='submit' value="Request Permission"/>
  </td>
{{/each}}
</table>
