<section class="col-sm-8 col-md-6">
  <h2>All Secrets</h2>

  <ul class="list-unstyled">
    {{#each secrets as |secret|}}
    <li>
      {{#if secret.body}}
      <p>{{ secret.body }}</p>
      <p><em>- {{secret.author.username}}</em></p>
      {{else}} {{#if secret.requested }}
      <button class="btn btn-warning">Requested</button> {{else}}
      <button class="btn btn-success">Request Permission</button> {{/if}} {{/if}}
    </li>
    {{/each}}
  </ul>
</section>
