<div class="container-fluid">
  <div class="row" style="text-align:center;">
    <h3>All Secrets</h3>
    {{#if posts}}
    {{#each posts as |post|}}
    <div class="col-sm-4" style="margin:1em; border:2px solid black; text-align:left;">
      <p>{{post.post}}</p>
      <p>- {{post.createdBy.username}}</p>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>
