<h1>All secrets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Secret</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    {{#each accessibleSercrets as |secret| }}
      <tr>
        <td>
        {{ secret.body }}
        </td>
        <td>
        {{ secret.author }}
        </td>
      </tr>
    {{/each }}
  </tbody>
</table>
