

<header class="page-header">
  <h1>New Secret</h1>
</header>

<form method="post">

  <div class="form-group">
    <label for="secret_body">Secret</label>
    <input type="text" id="secret_body" name="secret_body" class="form-control">
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>
